#week_container {
  text-align: center;
  width: 95%;
  margin: 0 auto;
  margin-top: 1.5%;
  margin-bottom: 5%;
}

.day-container {
  margin-bottom: 2%;
}

.day-title {
  background: #007bff;
  color: white;
  min-height: 2.75rem;
  border-radius: 0.5rem;
  margin-bottom: 1%;
}

.anime-container {
  background: rgb(240, 240, 240);
  border-radius: 1rem;
  margin: auto;
  width: 99%;
  height: 25rem;
  overflow-x: scroll;
  overflow-y: hidden;
  white-space: nowrap;
}

.anime-card {
  width: 12rem;
  margin: 0.3%;
  margin-top: 0.5%;
  display: inline-block;
  vertical-align: top;
}

.anime-title {
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

#watching-toggle {
  margin: 0 auto;
  text-align: center;
}

.toggle-component {
  display: inline-block;
  margin: 1%;
  margin-top: 2%;
}
