.anime-card {
  width: 12rem;
  margin: 0.3%;
  margin-top: 0.5%;
  display: inline-block;
  vertical-align: top;
}

.anime-title {
  line-height: normal;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.image-div {
  width: 100%;
  background: #f7f7f7;
}

.card-img {
  max-width: 100%;
  max-height: 17rem;
}
